.MenuButton {
    -fx-background-color : #93e4ea;
    -fx-background-radius : 50px;
}

.MenuButton:hover {
    -fx-background-color: rgb(226, 171, 238);
    -fx-text-fill : white;
}

.MenuButton:hover > .Button_icon {
    -fx-background-color: white;
}