.menuButton {
    -fx-background-color : #93e4ea;
    -fx-background-radius : 50px;
}

.menuButton:hover {
    -fx-background-color: rgb(226, 171, 238);
    -fx-text-fill : white;
}

.menuButton:hover > .button_icon {
    -fx-background-color: white;
}