.root {
    /* styleClass="root,DefaultBackground" */

    /* background */
    background: #333337;
    background-dark: #252525;
    background-light: white;

    border-color:  #757575;
    dropshadow-color: black;

    /* text */
    title-color: white;
    text-color: black;
    onDark-text-color: White;
    icon-color: black;

    /* action */
    action-color: #93e4ea;
    hover-action-color: rgb(226, 171, 238);
    hover-action-Text: white;
}


/* Background */

.defaultBackground {
    -fx-background-color: background;
}

.darkBackground {
    -fx-background-color: background-dark;
}

.roundBorderedBackground {
    -fx-background-color: background-dark;
    -fx-border-color: border-color;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.game_mode {
    -fx-effect: dropshadow(three-pass-box, dropshadow-color, 10, 0, 0, 0);
    -fx-background-radius:15;
}

.game_mode:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-cursor:hand;
}

/* Text */

.title {
    -fx-fill: title-color;
    -fx-text-fill : title-color;
    -fx-text-alignment: CENTER;
}


/* Button */

.icon{
    -fx-background-color: icon-color;
}

.button {
    -fx-background-color : action-color;
    -fx-text-fill: text-color;
}

.button:hover {
    -fx-background-color: hover-action-color;
    -fx-text-fill : hover-action-Text;
}

.button-text {
    -fx-fill: text-color;
}

.button-text:hover {
    -fx-fill : hover-action-Text;
}



.button_icon {
    -fx-pref-width : 0.8125em;
    -fx-pref-height: 0.8125em;
}


.buttonBarButton {
    -fx-pref-width : 1.5em;
    -fx-pref-height: 1.5em;
}

.menuButton {
    -fx-background-radius : 50px;
}

.selectButton{
    -fx-background-radius : 15 60 15 60 ;
}

.backButton {
    -fx-background-radius: 0px 0px 50px 50px;
}


/** Icon **/

#backButtonSVG {
    -fx-shape: "M250 700q-14-14-14.5-33t13.5-33l198-198q7-7 15.5-10.5T480 422q9 0 17.5 3.5T513 436l198 197q14 14 14 33.5T711 699q-14 14-33.5 14T644 699L480 536 316 701q-13 14-32.5 13.5T250 700Z";
}

#Button_tuto {
    -fx-shape : "m 181.45896,587.01796 -0.73124,-8.04367 h -2.92497 q -10.45679,0 -17.84234,-7.38557 -7.38556,-7.38555 -7.38556,-17.84233 0,-10.45678 7.42212,-17.84234 7.42212,-7.38556 17.95202,-7.38556 5.19183,0 9.61585,1.86467 4.42403,1.86467 7.71462,5.22839 3.2906,3.36372 5.15527,7.93399 1.86467,4.57027 1.86467,9.98147 0,4.82621 -1.42592,9.65242 -1.42593,4.8262 -4.13153,9.21366 -2.7056,4.38746 -6.58119,8.1168 -3.87559,3.72935 -8.7018,6.50807 z m 3.65622,-7.89743 q 5.9962,-5.04558 9.39648,-11.8827 3.40028,-6.83713 3.40028,-13.71082 0,-9.06741 -5.66714,-14.84424 -5.66713,-5.77682 -14.29581,-5.77682 -8.77491,0 -14.8808,6.10588 -6.10588,6.10588 -6.10588,14.73456 0,8.62867 6.10588,14.73455 6.10589,6.10588 14.73456,6.10588 h 7.31243 z m -7.16619,-8.4093 q 1.16999,0 1.97436,-0.80437 0.80437,-0.80436 0.80437,-1.97435 0,-1.16999 -0.80437,-1.97436 -0.80437,-0.80437 -1.97436,-0.80437 -1.16998,0 -1.97435,0.80437 -0.80437,0.80437 -0.80437,1.97436 0,1.16999 0.80437,1.97435 0.80437,0.80437 1.97435,0.80437 z m -1.97435,-9.94491 h 3.65621 q 0,-1.82811 0.62156,-3.03466 0.62156,-1.20655 2.59592,-3.1809 1.97435,-1.97436 2.77872,-3.61966 0.80437,-1.6453 0.80437,-3.54653 0,-3.2906 -2.2303,-5.4112 -2.23029,-2.12061 -5.95963,-2.12061 -3.07122,0 -5.48432,1.60874 -2.4131,1.60874 -3.58309,4.38746 l 3.36372,1.38936 q 0.80436,-1.90123 2.23029,-2.81529 1.42592,-0.91405 3.25403,-0.91405 2.19373,0 3.43684,1.0603 1.24312,1.06031 1.24312,2.81529 0,1.38936 -0.80437,2.81528 -0.80437,1.42593 -2.85185,3.54654 -1.97436,2.04748 -2.52279,3.29059 -0.54843,1.24312 -0.54843,3.72934 z m 1.46248,-4.75308 z";
}

#Button_exit {
    -fx-shape: "m 124.10735,936 q -1.64294,0 -2.87514,-1.23221 Q 120,933.53559 120,931.89265 v -14.37574 h 4.10735 v 14.37574 h 41.07353 V 890.6822 h -41.07353 v 14.51265 H 120 V 890.6822 q 0,-1.64294 1.23221,-2.87514 1.2322,-1.23221 2.87514,-1.23221 h 41.07353 q 1.64295,0 2.87515,1.23221 1.23221,1.2322 1.23221,2.87514 v 41.21045 q 0,1.64294 -1.23221,2.87514 Q 166.82383,936 165.18088,936 Z m 15.95022,-11.43213 -3.08051,-3.08052 8.07779,-8.07779 H 120 v -4.10736 h 25.05485 l -8.07779,-8.07779 3.08051,-3.08051 13.21199,13.21198 z";
}

#Button_rules {
    -fx-shape : "m 160,936 v -6.67507 h 53.40057 V 936 Z M 184.69776,912.41475 160,887.71699 l 7.78758,-8.01009 24.92027,24.69776 z m 28.2578,-28.2578 -24.69776,-24.92027 8.01009,-7.78758 24.69776,24.69776 z m 22.47274,47.393 -59.63063,-59.63063 4.67255,-4.67255 59.63063,59.63063 z";
}

#Button_play {
    -fx-shape : "m 122.45629,903.83832 v 32.22755 q 0,2.52215 2.17185,3.78323 2.17186,1.26108 4.27366,-0.14012 l 25.36167,-16.25389 q 1.96168,-1.26108 1.96168,-3.50299 0,-2.24192 -1.96168,-3.503 L 128.9018,900.19521 q -2.1018,-1.4012 -4.27366,-0.14012 -2.17185,1.26108 -2.17185,3.78323 z M 136.0479,976 q -11.48982,0 -21.71856,-4.41377 -10.22874,-4.41377 -17.865268,-12.0503 -7.636527,-7.63653 -12.0503,-17.86527 Q 80,931.44192 80,919.9521 q 0,-11.48982 4.413772,-21.71857 4.413773,-10.22874 12.0503,-17.86527 7.636528,-7.63652 17.865268,-12.0503 10.22874,-4.41377 21.71856,-4.41377 11.48982,0 21.71857,4.41377 10.22874,4.41378 17.86527,12.0503 7.63652,7.63653 12.0503,17.86527 4.41377,10.22875 4.41377,21.71857 0,11.48982 -4.41377,21.71856 -4.41378,10.22874 -12.0503,17.86527 -7.63653,7.63653 -17.86527,12.0503 Q 147.53772,976 136.0479,976 Z m 0,-56.0479 z m 0,47.64071 q 19.61677,0 33.62875,-14.01197 14.01197,-14.01198 14.01197,-33.62874 0,-19.61677 -14.01197,-33.62875 -14.01198,-14.01197 -33.62875,-14.01197 -19.61676,0 -33.62874,14.01197 -14.011974,14.01198 -14.011974,33.62875 0,19.61676 14.011974,33.62874 14.01198,14.01197 33.62874,14.01197 z";
}

#Button_settings {
    -fx-shape : "m 144.27784,976 h -15.96646 q -1.33054,0 -2.35869,-0.84671 -1.02814,-0.8467 -1.27006,-2.17724 l -1.93532,-12.21677 q -2.29821,-0.84671 -4.83833,-2.2982 -2.54012,-1.4515 -4.47545,-3.02395 l -11.2491,5.20119 q -1.33054,0.60479 -2.661077,0.18144 -1.330539,-0.42335 -2.056287,-1.75389 l -7.983234,-14.1521 q -0.725748,-1.20958 -0.362874,-2.54012 0.362874,-1.33054 1.451497,-2.17724 l 10.402395,-7.62036 q -0.24192,-1.08862 -0.30239,-2.47964 -0.0605,-1.39102 -0.0605,-2.47964 0,-1.08863 0.0605,-2.47964 0.0605,-1.39102 0.30239,-2.47964 l -10.402395,-7.62036 q -1.088623,-0.84671 -1.451497,-2.17725 -0.362874,-1.33054 0.362874,-2.54012 l 7.983234,-14.1521 q 0.725748,-1.33053 2.056287,-1.75389 1.330537,-0.42335 2.661077,0.18144 l 11.2491,5.2012 q 1.93533,-1.57246 4.47545,-3.02395 2.54012,-1.4515 4.83833,-2.17725 l 1.93532,-12.33772 q 0.24192,-1.33054 1.27006,-2.17725 1.02815,-0.84671 2.35869,-0.84671 h 15.96646 q 1.33054,0 2.35869,0.84671 1.02814,0.84671 1.27006,2.17725 l 1.93533,12.21676 q 2.2982,0.84671 4.8988,2.23773 2.6006,1.39101 4.41497,3.08443 l 11.2491,-5.2012 q 1.33054,-0.60479 2.66108,-0.18144 1.33054,0.42336 2.05629,1.75389 l 7.98323,14.03114 q 0.72575,1.20958 0.42335,2.6006 -0.30239,1.39102 -1.51197,2.23773 l -10.4024,7.37844 q 0.24192,1.20958 0.3024,2.6006 0.0605,1.39102 0.0605,2.6006 0,1.20958 -0.0605,2.54012 -0.0605,1.33054 -0.3024,2.54012 l 10.4024,7.4994 q 1.08862,0.8467 1.45149,2.17724 0.36288,1.33054 -0.36287,2.54012 l -7.98323,14.1521 q -0.72575,1.33054 -2.05629,1.75389 -1.33054,0.42335 -2.66108,-0.18144 l -11.2491,-5.20119 q -1.93533,1.57245 -4.41497,3.08443 -2.47964,1.51197 -4.8988,2.23772 l -1.93533,12.21677 q -0.24192,1.33054 -1.27006,2.17724 Q 145.60838,976 144.27784,976 Z m -7.98323,-32.65868 q 6.53174,0 11.12814,-4.59641 4.59641,-4.59641 4.59641,-11.12814 0,-6.53174 -4.59641,-11.12815 -4.5964,-4.5964 -11.12814,-4.5964 -6.53174,0 -11.12814,4.5964 -4.59641,4.59641 -4.59641,11.12815 0,6.53173 4.59641,11.12814 4.5964,4.59641 11.12814,4.59641 z m 0,-7.25749 q -3.50778,0 -5.98742,-2.47964 -2.47965,-2.47964 -2.47965,-5.98742 0,-3.50779 2.47965,-5.98743 2.47964,-2.47964 5.98742,-2.47964 3.50779,0 5.98743,2.47964 2.47964,2.47964 2.47964,5.98743 0,3.50778 -2.47964,5.98742 -2.47964,2.47964 -5.98743,2.47964 z m 0,-8.46706 z m -5.32215,41.12574 h 10.64431 l 1.69341,-13.5473 q 3.99162,-0.96767 7.55988,-3.02395 3.56826,-2.05629 6.47126,-4.95928 l 12.82155,5.56407 4.83833,-8.70898 -11.37006,-8.34611 q 0.48383,-2.05629 0.78623,-4.0521 0.30239,-1.99581 0.30239,-4.05209 0,-2.05629 -0.24192,-4.0521 -0.24191,-1.99581 -0.8467,-4.0521 l 11.37006,-8.3461 -4.83833,-8.70898 -12.82155,5.56407 q -2.78204,-3.14491 -6.28982,-5.26168 -3.50779,-2.11677 -7.74132,-2.72156 l -1.69341,-13.5473 h -10.64431 l -1.69342,13.5473 q -4.11257,0.84671 -7.68084,2.903 -3.56826,2.05628 -6.3503,5.08024 l -12.82155,-5.56407 -4.838326,8.70898 11.370056,8.3461 q -0.48383,2.05629 -0.78622,4.0521 -0.3024,1.99581 -0.3024,4.0521 0,2.05628 0.3024,4.05209 0.30239,1.99581 0.78622,4.0521 l -11.370056,8.34611 4.838326,8.70898 12.82155,-5.56407 q 2.903,2.90299 6.47126,4.95928 3.56827,2.05628 7.55988,3.02395 z";
}

#Button_account {
    -fx-shape : "m 91.053891,962.37725 q 4.904193,-3.42515 9.730539,-5.2545 4.82635,-1.82934 10.3533,-1.82934 5.52694,0 10.39221,1.82934 4.86527,1.82935 9.76946,5.2545 3.42515,-4.2036 4.86527,-8.48503 1.44012,-4.28144 1.44012,-9.02995 0,-11.28742 -7.58982,-18.87724 -7.58982,-7.58982 -18.87724,-7.58982 -11.287433,0 -18.877251,7.58982 -7.58982,7.58982 -7.58982,18.87724 0,4.74851 1.479042,9.02995 1.479041,4.28143 4.90419,8.48503 z m 20.069359,-15.17964 q -4.5005,0 -7.57535,-3.08934 -3.07485,-3.08932 -3.07485,-7.58981 0,-4.5005 3.08933,-7.57534 3.08933,-3.07486 7.58983,-3.07486 4.50049,0 7.57533,3.08933 3.07485,3.08933 3.07485,7.58982 0,4.50049 -3.08932,7.57534 -3.08933,3.07486 -7.58982,3.07486 z M 111.17416,976 q -6.41967,0 -12.102305,-2.4521 -5.682632,-2.45209 -9.925147,-6.69461 -4.242517,-4.24251 -6.694612,-9.90693 Q 80,951.28194 80,944.84157 q 0,-6.44037 2.452096,-12.08408 2.452095,-5.64372 6.694612,-9.88623 4.242515,-4.24251 9.906934,-6.69461 5.664418,-2.4521 12.104788,-2.4521 6.44037,0 12.08408,2.4521 5.64372,2.4521 9.88623,6.69461 4.24251,4.24251 6.69461,9.88872 2.4521,5.6462 2.4521,12.06586 0,6.41967 -2.4521,12.10231 -2.4521,5.68263 -6.69461,9.92514 -4.24251,4.24252 -9.88872,6.69461 Q 117.59382,976 111.17416,976 Z m -0.0364,-4.67066 q 4.28144,0 8.36826,-1.24551 4.08683,-1.24551 8.05689,-4.35928 -3.97006,-2.80239 -8.09581,-4.28144 -4.12575,-1.47904 -8.32934,-1.47904 -4.20359,0 -8.32934,1.47904 -4.12575,1.47905 -8.09581,4.28144 3.97006,3.11377 8.05688,4.35928 4.08683,1.24551 8.36827,1.24551 z m 0,-28.80239 q 2.6467,0 4.32036,-1.67366 1.67365,-1.67365 1.67365,-4.32036 0,-2.6467 -1.67365,-4.32035 -1.67366,-1.67366 -4.32036,-1.67366 -2.64671,0 -4.32036,1.67366 -1.67365,1.67365 -1.67365,4.32035 0,2.64671 1.67365,4.32036 1.67365,1.67366 4.32036,1.67366 z m 0,-5.99402 z m 0,29.11378 z";
}

#Button_leaderboard {
    -fx-shape : "m 94.403764,896.64157 v 24.95467 h 13.211296 v -24.95467 z m 17.615056,-17.61505 v 42.56972 h 13.21129 v -42.56972 z m 17.61506,23.48674 v 19.08298 h 13.21129 V 902.51326 Z M 142.84517,926 H 94.403764 q -1.816553,0 -3.110158,-1.29361 Q 90,923.41279 90,921.59624 v -24.95467 q 0,-1.81655 1.293606,-3.11015 1.293605,-1.29361 3.110158,-1.29361 h 13.211296 v -13.21129 q 0,-1.81655 1.2936,-3.11016 1.29361,-1.29361 3.11016,-1.29361 h 13.21129 q 1.81655,0 3.11016,1.29361 1.29361,1.29361 1.29361,3.11016 v 19.08298 h 13.21129 q 1.81655,0 3.11016,1.2936 1.2936,1.29361 1.2936,3.11016 v 19.08298 q 0,1.81655 -1.2936,3.11015 Q 144.66172,926 142.84517,926 Z";
}