.button {
    -fx-background-radius: 10px;
    -fx-background-color:#93E4EA;
    -fx-padding:5px;
}

.back_btn {
    -fx-background-radius: 0 0 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.back_btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-cursor:hand;
}


.game_mode {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius:15;
    -fx-background-color: #93E4EA;
}

.game_mode:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-cursor:hand;
}

.footer {
    -fx-background-color: #252525;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #414141;
}
