
.SelectButton {
    -fx-background-color : #93e4ea;
    -fx-background-radius: 15 60 20 60;
}

.SelectButton:hover {
    -fx-background-color: rgb(226, 171, 238);
    -fx-text-fill : white;
}

.SelectButton:hover > .Button_icon {
    -fx-background-color: white;
}

.PanelSelect > .viewport {
    -fx-background-color: #252525;
 }

 .PanelSelect {
    -fx-background-color: #252525   ;
    -fx-background-radius: 80 80 80 80;
}